
<% @questions.each do |question| %>

  <div class="queTitleclass">
    <h3 ><a href="" class= "glyphicon glyphicon-user black" ></a>
      <a href="<%=questions_content_path( question["id"]) %>"><%= question["title"] %></a> </h3>
    <div class="queDescriptionclass">
      <p> <%= question["description"] %></p>
    </div>
  </div>

<% end %>
